<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Luo kysely</title>
    <meta content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

    <!-- Pitää muokata siten että kaikki on yhden formin sisällä (tällä hetkellä kaksi erillistä formia jotka lähetetään qControllerin save funktiolle)
    
    tämä pätkä pitää lisätä question controlleriin (ei tiedetä toimiiko)
    
        @RequestMapping(value="/save", method = RequestMethod.POST)
   public String saveQuestionHtml(Question question, List<QuestionOption> questionoptions) {
       questionRepository.save(question);
       Question questionitem = questionRepository.save(question); // id mikä tarvitaan liittää vaihtoehtoon
      for (QuestionOption questionOptionItem : questionoptions) {
          questionOptionItem.setQuestion(questionitem);
          questionOptionRepository.save(questionOptionItem);
      }
      return "login";
   }
   -->

    <h1>Create a survey</h1>
    
    <div>
        <form id="questionForm" th:object="${question}" th:action="@{save}" action="#" method="post">
        
        <label for="questionContent">Syötä kysymys:</label>
        <input type="text" id="questionContent" th:field="*{questionContent}" class="form-control"/>
                
            <div>
                <label for="questionType">Valitse kysymystyyppi: </label>
                <select id="questionTypeList" th:field="*{questionType}" class="form-control" onchange="newOption()">
                <option th:each="questionType : ${questionTypes}"
                        th:value="${questionType.questionTypeId}"
                        th:text="${questionType.questionType}"></option>
                </select>
            </div>
            <div id="inputbox"></div>
            <div id="optiondiv"></div>
            <div>
                <label for="survey">Valitse kysely: </label>
                <select id="surveyList" th:field="*{survey}" class="form-control">
                <option th:each="survey : ${surveys}"
                        th:value="${survey.surveyId}"
                        th:text="${survey.surveyName}"></option>
                </select>
            </div>
                        
        </form>
        <form id="questionOptionForm" th:action="@{questionOptions}" action="#" method="post" enctype="application/json">
            <div id="inputbox"></div>
            <div id="optiondiv"></div>
        </form>
        
        <input id="submit" class="btn btn-success" type="submit" value="Save" onclick="saveForms()")></input>
    </div>
    <script type="text/javascript">
        
        function newOption() {
            let id = document.getElementById('questionTypeList').value;
            if (id != 3) {
                let questionOptionArray = [];
                let input = document.getElementById('inputbox');

                input.innerHTML += 'Syötä vastausvaihtoehto:<br>' + '<input type="text" id="questionOptionContent"/><br>' + '<input id="addnew" class="btn btn-success" value="Add new option"></input>';
                
                document.getElementById("addnew").addEventListener("click", function(){
                    let content = document.getElementById('questionOptionContent').value;
                    questionOptionArray.push(content);
                    console.log(questionOptionArray);
                    
                    let options = '';
                    
                    for (i=0;i<questionOptionArray.length;i++) {
                        options += (i+1) + '. ' + questionOptionArray[i] + '<br>';
                    }
                    document.getElementById('optiondiv').innerHTML = options;
                
                
             });
        }
        }
        function saveForms() {
            document.getElementById('questionForm').submit();
            document.getElementById('questionOptionForm').submit();
        }
        
        
    </script>
</body>
</html>