<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Kysely</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
</head>
<body>
        <p th:inline="text"><b>Kirjautuneena:</b> [[${#httpServletRequest.remoteUser}]]</p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Kirjaudu ulos"/>
        </form>
    <br><br>
	<div>
		<h1>Kysely</h1>		
	</div>
	<br>	
    <table>
		<tr>
		    <th width="400" height="50">Kysymys</th>
		    <th width="300" height="50">Tyyppi</th>
		</tr>  
    	<tr th:each = "question : ${questions}">
    		<td height="50" th:text="${question.questionContent}"></td>
    		<td height="50" th:text="${question.questionType.questionType}"></td>
    		<!--<a th:href="@{/deletequestion/{questionId}(questionId=${question.questionId})}" class="btn btn-danger">Poista</a></td> -->
    	</tr>
     </table>
     <br>
	 <a href="/addquestion">Lisää uusi kysymys</a>
</body>
</html>