<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
        <title>Kirjaudu sisään</title>
    </head>
    <body>
    
		<div><h1>Tervetuloa!</h1></div>
    	<div><p>Muokataksesi kyselyä sinun tulee ensin kirjautua sisään.</p></div>
    	<br>
        <div th:if="${param.error}">
            Käyttäjätunnus ja salasana eivät täsmää.
        </div>
        <div th:if="${param.logout}">
            Olet kirjatunut ulos.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label><input type="text" name="username" placeholder="username" required/> </label></div>
            <div><label><input type="password" name="password" placeholder="password" required/> </label></div>
            <br>
            <div><input type="submit" value="Kirjaudu"/></div>
        </form>
    </body>
</html>